<!-- app/views/passwrds/enter_otp.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Enter OTP</title>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="form-container">
    <h2>Enter OTP</h2>
    <%= form_with url: verify_otp_path, method: :post do %>
      <div class="field">
        <%= label_tag :otp, "OTP" %><br />
        <%= text_field_tag :otp, nil, autofocus: true, class: "styled-input" %>
      </div>

      <div class="actions">
        <%= submit_tag "Verify OTP", class: "styled-button" %>
      </div>
    <% end %>
  </div>
</body>
</html>
