<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'new_password_change', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<h2>Reset password</h2>
  <div class="reset_pwd_form">
    <%= form_with url: update_password_path, method: :post do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, value: session[:reset_email], autofocus: true, autocomplete: "email", class: "styled-input", readonly: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autofocus: true, class: "styled-input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: "styled-input" %>
      </div>

      <div class="actions">
        <%= f.submit "Update Password", class: "styled-button" %>
      </div>
    <% end %>
  </div>
</body>
</html>
