<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <%= stylesheet_link_tag 'leads_create', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div class="file-upload leads">
<h4>Upload Excel File</h4>
<%= form_with(url: upload_file_leads_path, local: true, method: :post, html: { multipart: true }) do |form| %>
  <div class="mb-3 text-center">
    <%= form.label :file, "Select Excel File", class: "form-label" %>
    <div class="input-group justify-content-center">
      <%= form.file_field :file, accept: ".xlsx", class: "form-control d-none", id: "file-upload" %>
      <span class="input-group-text" id="upload-icon" style="cursor: pointer;" onclick="document.getElementById('file-upload').click();">
        <i class="fas fa-upload"></i>
      </span>
    </div>
    <div id="file-name" class="text-center"></div>
  </div>
  <div class="actions text-center">
    <%= form.submit 'Upload File', class: "btn btn-gray" %>
  </div>
<% end %>
</div>
<script>
  document.getElementById('file-upload').addEventListener('change', function(event) {
    var fileName = event.target.files[0].name;
    document.getElementById('file-name').innerText = fileName;
  });
</script>
</body>
</html>
