<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
    .form-label{
      font-weight: bold;
    }
    .form-control {
      font-size: 16px;
    }
    h3{
      padding-top: 20px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>Verification</h3>
    <div class="row">
      <!-- Image on the right side -->
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <%= image_tag 'otp1.png', alt: 'otp', class: 'img-fluid rotate-on-hover', style: 'height: 460px;' %>
      </div>
      <!-- OTP Form on the left side -->
      <div class="col-md-6 d-flex align-items-center">
        <%= form_with url: user_otp_path, method: :post, local: true, class: 'w-100' do |f| %>
          <div class="form-group mb-4">
            <%= f.label :otp, 'Enter Your OTP:', class: 'form-label' %>
            <%= f.text_field :otp, class: 'form-control' %>
          </div>

          <div class="form-group text-center">
            <%= f.submit 'Verify', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>
